* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: Gothic A1,sans-serif;
	font-size: 0.9rem;
	line-height: 2;
	background: #151515;
	color: #BBB;
	overflow-x: hidden;
}

input:not(#searcherInput) {
	display: none;
	visibility: hidden;
}

label {
	position: relative;
	float: left;
	height: 5rem;
	width: calc(25% - 0.75rem);
	display: grid;
	place-items: center;
	color: white;
	text-align: center;
	background: #222;
	cursor: pointer;
}

label:nth-of-type(1), label:nth-of-type(5) {
	margin-right: 0.5rem;
}
label:nth-of-type(2), label:nth-of-type(3), label:nth-of-type(6), label:nth-of-type(7) {
	margin: 0 0.5rem;
}
label:nth-of-type(4), label:nth-of-type(8) {
	margin-left: 0.5rem;
}

#technical:checked + label {
	background: #A2D729;
	color: black;
}

#soft:checked + label {
	background: #FCBA04;
	color: black;
}

#tools:checked + label {
	background: #6672FF;
	color: black;
}

#technical:not(:checked) ~ article2 > .technical,
#soft:not(:checked) ~ article2 > .soft,
#tools:not(:checked) ~ article2 > .tools {
	display: none;
}

#colors:checked ~ article2 > .technical {
	border: 1px solid #A2D729;
	/* color: black; */
}

#colors:checked ~ article2 > .soft {
	border: 1px solid #FCBA04;
	/* color: black; */
}

#colors:checked ~ article2 > .tools {
	border: 1px solid #6672FF;
	/* color: black; */
}

.entry:hover {
	background-color: #999;
	color: black;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: #0072CE;
}

.technical:hover {
	background: #A2D729;
	color: black;
}

.soft:hover {
	background: #FCBA04;
	color: black;
}

.tools:hover {
	background: #6672FF;
	color: black;
}

pre {
	border: 1px solid white;
	line-height: 1.2;
	padding: 0 1rem;
	overflow-x: scroll;
	color: white;
}

fn {
	color: #0072CE;
}

quote {
	color: #999;
}

section {
	max-width: 1500px;
	margin: 0 auto;
}

header {
	font-family: Gothic,sans-serif;
	font-size: 4rem;
	line-height: 1.2;
	color: white;
}

#searcher {
	height: 3rem;
	width: 200px;
	border-radius: 5px;
	border: 1px solid #BBB;
	margin: 0;
}

#searcherInput {
	background-color: transparent;
	border: none;
	height: 3rem;
	width: 100%;
	overflow-x: hidden;
	font-size: 1rem;
	padding: 0 5px;
	/* transition: width 0.5s linear; */
}

#searcherInput:focus {
	outline: none;
}

#searcher:focus {
	border: 1px solid white;
}

footer {
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer > * {
	display: grid;
	place-items: center;
	filter: invert(1);
	height: 3rem;
	/* transition: filter 0.2s linear; */
}

footer > *:nth-child(2):hover {
	filter: invert(25%) sepia(71%) saturate(6712%) hue-rotate(200deg) brightness(92%) contrast(92%);
}

footer > *:nth-child(3):hover {
	filter: invert(26%) sepia(51%) saturate(7464%) hue-rotate(351deg) brightness(88%) contrast(134%);
}

footer > *:nth-child(4):hover {
	filter: invert(47%) sepia(49%) saturate(5181%) hue-rotate(323deg) brightness(90%) contrast(99%);
}

footer > *:nth-child(5):hover {
	filter: invert(45%) sepia(77%) saturate(6277%) hue-rotate(347deg) brightness(103%) contrast(84%);
}

footer > *:nth-child(6):hover {
	filter: invert(0.7);
}

footer > *:nth-child(7):hover {
	filter: invert(37%) sepia(95%) saturate(654%) hue-rotate(172deg) brightness(83%) contrast(96%);
}

summary {
	margin: 2rem 0;
}

aside {
	padding: 2vh 2rem;
	margin: 4vw 0;
}

main {
	padding: 2vh 2rem;
	flex-direction: column;
	justify-content: space-between;
}

article, article3 {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

article > div {
	background-color: #222;
	height: 12rem;
	padding: 2rem;
	line-height: 1.5;
	margin: 0;
	display: grid;
	align-items: center;
	border: 1px solid #999;
}

article3 > div {
	background-color: #222;
	height: 10rem;
	padding: 1rem 2rem;
	line-height: 1.5;
	margin: 0;
	display: grid;
	align-items: center;
	border: 1px solid #999;
}

article2 {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

article2 > div, article2 > a {
	background-color: #222;
	height: 5rem;
	padding: 0.5rem;
	margin: 0;
	display: grid;
	place-items: center;
	color: white;
	text-align: center;
}

article2 > a {
	cursor: pointer;
}

h3 {
	color: white;
	letter-spacing: 2px;
	font-size: 1.5rem;
}

h4 {
	margin: 0;
}

h3 > a {
	color: #999;
	font-size: 0.9rem;
}

h4 {
	color: white;
}

.white {
	color: white;
}

div > div:nth-child(1) {
	color: white;
}

div > div:nth-child(2) {
	color: white;
	font-size: 1.5rem;
}

div > div2:nth-child(1) {
	color: white;
	font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
	section.landing {
		display: grid;
		grid-template-columns: repeat(5,1fr);
	}
	aside.landing {
		height: calc(96vh-8vw);
		grid-column: 1/3;
		display: grid;
		grid-template-rows: auto 1fr auto;
	}
	main.landing {
		margin-top: 2vh;
		height: 96vh;
		overflow-y: scroll;
		grid-column: 3/6;
	}
	section:not(.landing) {
		display: block;
	}
	aside:not(.landing), main:not(.landing) {
		margin: 0;
		padding: 2vh 10px;
	}
	.entry:hover,
	.technical:hover,
	.soft:hover,
	.tools:hover {
		transform: scale(1.00);
	}
}

@media screen and (max-width: 1200px) {
	aside, main {
		margin: 0;
		padding: 2vh 10px 0;
	}

	article, article3 {
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	}

	article2 {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}

	#other {
		display: none;
	}
}

@media screen and (max-width: 0px) {
	article > div, article2 > div, article3 > div {
		padding: 10px;
	}
}
