@import "projects/projects.css";
@import "stylesheet/aside/aside.css";
@import "stylesheet/main/main.css";
@import "stylesheet/pop/pop.css";
@import "stylesheet/footer/footer.css";
@import "stylesheet/colors/youtube.css";
@import "stylesheet/colors/estonia.css";
@import "stylesheet/colors/barbados.css";

* {
	box-sizing: border-box;
}

:root {
	--back: var(--barbadosblue);
	--offback: #082D87;
	--entryhover: var(--estoniablue);
	--text: white;
	--alttext: #50D8D7;
	--border: 1px solid var(--entryhover);
	--contrast-border: 1px solid var(--contrast);
	--technical: var(--estoniablue);
	--technicaltext: black;
	--soft: var(--estoniablack);
	--softtext: white;
	--tools: var(--estoniawhite);
	--toolstext: black;
	--link: var(--text);
	--contrast: var(--barbadosyellow);
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: Gothic A1,sans-serif;
	font-size: 0.9rem;
	line-height: 2;
	background: var(--back);
	color: var(--alttext);
	overflow-x: hidden;
}

input:not(#searcherInput) {
	display: none;
	visibility: hidden;
}

a {
	/* color: var(--text); */
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: var(--link);
}

section {
	max-width: 1500px;
	margin: 0 auto;
}

h1, header {
	font-family: Gothic,sans-serif;
	font-size: 3rem;
	line-height: 1;
	margin-top: 0;
	color: var(--text);
}

summary {
	margin: 2rem 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

h3 {
	color: var(--text);
	letter-spacing: 2px;
	font-size: 1.5rem;
}

h4 {
	margin: 0;
	color: var(--text);
}

span {
	display: none;
}

white {
	color: var(--text);
}

star {
	color: var(--contrast);
}

@media screen and (min-width: 1200px) {
	section.landing {
		display: grid;
		grid-template-columns: repeat(5,1fr);
	}
	section:not(.landing) {
		display: block;
	}
}

@media screen and (max-width: 1200px) {
	#other {
		display: none;
	}
}
