label {
	position: relative;
	float: left;
	height: 5rem;
	width: calc(25% - 0.75rem);
	display: grid;
	place-items: center;
	color: var(--text);
	text-align: center;
	/* background: #222; */
	background: var(--back);
	cursor: pointer;
}

label:nth-of-type(1), label:nth-of-type(5) {
	margin-right: 0.5rem;
}
label:nth-of-type(2), label:nth-of-type(3), label:nth-of-type(6), label:nth-of-type(7) {
	margin: 0 0.5rem;
}
label:nth-of-type(4), label:nth-of-type(8) {
	margin-left: 0.5rem;
}