#searcher {
	height: 3rem;
	width: 150px;
	border-radius: 5px;
	border: var(--border);
	margin: 0;
}

#searcherInput {
	background-color: transparent;
	border: none;
	height: 3rem;
	width: 100%;
	overflow-x: hidden;
	font-size: 0.9rem;
	padding: 0 5px;
	color: white;
	border-radius: 5px;
	/* transition: width 0.5s linear; */
}

#searcherInput:focus {
	border: 1px solid var(--alttext);
	outline: none;
}

#searcher:focus {
	color: white;
	filter: invert(1);
}